@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Alegreya+Sans+SC|Cinzel|Inter|Open+Sans|Quicksand');

* {
	margin:0;
	padding:0;
	color:#000;
	font-family: 'Cinzel', serif;
	box-sizing: border-box;
}

.fn-font {
	font-family: 'Noto Sans KR', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

.container {
	width:1440px;
	margin:0 auto;
}

header {
	width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header > h2 {
	margin-left:20px;
}

header > nav {
	width:600px;
	height:100%;
}

header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
}

#visual {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(common/images/location.PNG);
	background-size: cover;
	background-position: 0% 20%;
	width:100%;
	height:600px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#visual * {
	color:white;
}

#visual h2 {
	font-size:60px;
}

#visual p {
	margin: 30px 0;
}


.btn {	
	width:120px;
	padding: 8px 12px;
	border:3px solid #ddd;
	background-color: #70aa96;
	border-radius: 4px;
}

.btn:hover {
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
