@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Cinzel|Inter|Open+Sans|Quicksand');

* {
	margin:0;
	padding:0;
	color:#000;
	font-family: 'Cinzel', serif;
	box-sizing: border-box;
}

.fn-font {
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cinzel', serif;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-family: 'Inter', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

.container {
	width:1440px;
	margin:0 auto;
}

header {
	width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
